.stylish{
    width:200px;
    height:200px;
    display:block;
    border-radius:50%;
    border:#ccc 8px double;
    font-size:20px;
    color:#888;
    line-height:200px;
    text-shadow:0 1px 0 #fff;
    text-decoration:none;
    text-align:center;
    background:#ddd;
}

.stylish:hover{
    border:#bbb 8px double;
    color:#aaa;
    text-decoration:none;
    background:#e6e6e6;
}